{% extends 'directorio/principal_directorio.html'%}
{% block resultado %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Encargado</th>
            <th scope="col">Supervisor</th>
            <th scope="col">Area</th>
            <th scope="col">Categoría</th>
            <th scope="col">Encargado</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>
    {% for a in centro_ext %}
    <tr>
        <th scope="row">{{ a.nombreEntidad }}</th>
        <td>{{ a.direccion }}</td>
        <td>{{ a.encargado }}</td>
        <td>{{ a.supervisor }}</td>
        <td>{{ a.area }}</td>
        <td>{{ a.categoria }}</td>
        <td>{{ a.supervisor }}</td>
        <td>{{ a.telefono }}</td>
    </tr>
    {% empty %}
    <p class="respuesta">No hay elementos disponibles.</p>
    {% endfor %}
</table>

{% endblock %}