{% extends 'directorio/principal_directorio.html'%}
{% block resultado %}
<div class="buttons_container text-center">
    <div class="button button_line_1 text-center trans_200"><a
            href="{% url 'directorio:lista_persona' %}">Personal de FINTUR</a></div>
    <div class="button button_color_1 text-center trans_200"><a
            href="{% url 'directorio:lista_ce' %}">Centros
            Externos</a></div>
    <div class="button button_line_1 text-center trans_200"><a href="../admin/">Otras Opciones</a></div>
</div>
<form mehotd="get">
    <div
        class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center text-center">
        {{ filter.form.as_p }}
        <button type="submit" class="newsletter_submit_btn trans_300" value="Buscar"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Encargado</th>
            <th scope="col">Supervisor</th>
            <th scope="col">Area</th>
            <th scope="col">Categoría</th>
            <th scope="col">Encargado</th>
            <th scope="col">Teléfono</th>
        </tr>
    </thead>
    {% for a in centro_ext %}
    <tr>
        <th scope="row">{{ a.nombreEntidad }}</th>
        <td>{{ a.direccion }}</td>
        <td>{{ a.encargado }}</td>
        <td>{{ a.supervisor }}</td>
        <td>{{ a.area }}</td>
        <td>{{ a.categoria }}</td>
        <td>{{ a.supervisor }}</td>
        <td>{{ a.telefono }}</td>
    </tr>
    {% empty %}
    <p class="respuesta">No hay elementos disponibles.</p>
    {% endfor %}
</table>

{% endblock %}