{% extends "directorio/indexd.html" %}
{% load static %}
{% block contenido %}

<ul>
    {% for p in persona %}
    <li> {{ p.anno }} -- {{ p.numero }} -- {{ p.organismo }} -- {{ p.nombre }} -- {{ p.archivo }}
    </li>
    {% for p in centro_ext %}
    <li> {{ p.seccion }} -- {{ p.grupo }} -- {{ p.subgrupo }} -- {{ p.titulo }} -- {{ p.proforma }} -- {{ p.descrip }}
        -- {{ p.archivo }}
    </li>
    {% for p in otro %}
    <li> {{ p.tipo }} -- {{ p.doc }} -- {{ p.anno }} -- {{ p.num }} -- {{ p.descrip }} -- {{ p.anexo }} -- {{ p.archivo
        }} -- {{ p.tema }}
    </li>

    {% empty %}
    <p>No hay coincidencias.</p>
    {% endfor %}
</ul>
{% endblock %}