{% load static %}
<!-- Header-->
<div class="header_content d-flex flex-row align-items-center">
     <!-- Logo -->
    <div class="logo_container">
        <div class="logo">
            <img src="../static/logo.png" alt="" width="60px">
            <span>FINTUR</span>
        </div>
    </div>

    <!-- Main Navigation -->
    <nav class="main_nav_container">
        <div class="main_nav">
            <ul class="main_nav_list">
                <li class="main_nav_item"><a href="{% url 'inicio' %}">Inicio</a></li>
                <li class="main_nav_item"><a href="{% url 'inicio' %}">FINTUR</a></li>
                <li class="main_nav_item"><a href="{% url 'asistencia:principal_asistencia'%}">Asistencia</a></li>
                <li class="main_nav_item"><a href="{% url 'directorio:principal_directorio'%}">Directorio</a></li>
                <li class="main_nav_item"><a href="{% url 'manual:principal_manual' %}">Biblioteca</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="header_side d-flex flex-row justify-content-center align-items-center">
    <img src="../static/autenticar.svg" alt="">
    <a href="{% url 'admin:login' %}">AUTENTICAR</a>
</div>

<!-- Hamburger #no se q es!!!!!!!!-->
<div class="hamburger_container">
    <i class="fas fa-bars trans_200"></i>
</div>




