{% extends "index.html" %}
{% block contenido %}
    <!-- Hero Slider -->
    <div>
        <div class="hero_slider_container">
            <div class="hero_slider owl-carousel">

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background"
                         style="background-image:url(../static/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
                                <span>Intranet</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background"
                         style="background-image:url(../static/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
                                <span>Intranet</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <!-- Hero Slide -->
                <div class="hero_slide">
                    <div class="hero_slide_background"
                         style="background-image:url(../static/slider_background.jpg)"></div>
                    <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                        <div class="hero_slide_content text-center">
                            <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
                                <span>Intranet</span>
                            </h1>
                        </div>
                    </div>
                </div>

            </div>

            <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">ant</span></div>
            <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">sig</span></div>
        </div>
        <div class="services page_section">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title text-center">
                            <h1>Servicios</h1>
                        </div>
                    </div>
                </div>

                <div>
                    <h1>FINTUR</h1>
                    <h2>Casa financiera del turismo, dedicado al financiamiento a las entidades del turismo</h2>
                </div>
            </div>
        </div>
    </div>


{% endblock %}