<!-- Footer -->

<footer class="footer">
    <div class="container">

        <!-- Footer Content -->

        <div class="footer_content">
            <div class="row">

                <!-- Footer Column - About -->
                <div class="col-lg-3 footer_col">

                    <!-- Logo -->
                    <div class="logo_container">
                        <div class="logo">
                            <img src="../static/logo.png" alt="" width="60px">
                            <span>FINTUR</span>
                        </div>
                    </div>

                    <p class="footer_about_text"> Casa financiera del turismo con más de 25 años al servicio del
                        crecimiento y desarrollo de la economía. </p>

                </div>

                <!-- Footer Column - Menu

                <div class="col-lg-3 footer_col">
                    <div class="footer_column_title">Menu</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_list_item"><a href="#">Inicio</a></li>
                            <li class="footer_list_item"><a href="#">FINTUR</a></li>
                            <li class="footer_list_item"><a href="#">Directorio</a></li>
                            <li class="footer_list_item"><a href="#">Biblioteca</a></li>
                            <li class="footer_list_item"><a href="#">Asistencia</a></li>
                        </ul>
                    </div>
                </div>-->

                <!-- Footer Column - Usefull Links -->

                <div class="col-lg-3 footer_col">
                    <div class="footer_column_title">Enlaces Importantes</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_list_item"><i class="fa fa-film fa-fw" aria-hidden="true"></i><a href="#">Videos</a></li>
                            <li class="footer_list_item"><i class="fa fa-search fa-fw" aria-hidden="true"></i><a href="https://www.google.com.cu/">Google</a></li>
                         </ul>
                    </div>
                </div>

                <div class="col-lg-3 footer_col">
                    <div class="footer_column_title">Tasa de Cambio</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_list_item"><i class="fa fa-university fa-fw" aria-hidden="true"></i><a
                                    href="https://www.bc.gob.cu/">BC</a></li>
                            <li class="footer_list_item"><i class="fa fa-university fa-fw" aria-hidden="true"></i><a
                                    href="https://www.bc.gob.cu/historigrama/137">BANMET</a>
                            </li>
                            <li class="footer_list_item"><i class="fa fa-university fa-fw" aria-hidden="true"></i><a
                                    href="https://www.bc.gob.cu/historigrama/banco?_token=GQU76DnvaB7Ld2PbkRkMU02tQb8aM38edrTjhQfy&ba=132&finicio=&ffin=">BPA</a>
                            </li>
                            <li class="footer_list_item"><i class="fa fa-university fa-fw" aria-hidden="true"></i><a
                                    href="https://www.bc.gob.cu/historigrama/banco?_token=GQU76DnvaB7Ld2PbkRkMU02tQb8aM38edrTjhQfy&ba=149&finicio=&ffin=">CADECA</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Column - Contact -->

                <div class="col-lg-3 footer_col">
                    <div class="footer_column_title">Datos de Contacto</div>
                    <div class="footer_column_content">
                        <ul>
                            <li class="footer_contact_item">
                                <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>
                                <!-- <div class="footer_contact_icon">
                                    <img src="../static/location.svg" alt="#">
                                </div> -->
                                Santa Marta e/ Subirana y Árbol Seco #403
                            </li>
                            <li class="footer_contact_item">
                                <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                                <!-- <div class="footer_contact_icon">
                                    <img src="../static/phone.svg" alt="#">
                                </div> -->
                                78705566
                            </li>
                            <li class="footer_contact_item">
                                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i>
                                <!-- <div class="footer_contact_icon">
                                    <img src="../static/mail.svg" alt="#">
                                </div> -->
                                dir.sistemas@fintur.tur.cu
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Copyright -->

        <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
            <div class="footer_copyright">
                <span>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Dirección
                    de Sistemas <i class="fa fa-heart" aria-hidden="true"></i> de <a href="#" target="_blank">FINTUR</a>
                </span>
            </div>
            <!-- <div class="footer_social ml-sm-auto">
                <ul class="menu_social">
                    <li class="menu_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
            </div> -->
        </div>

    </div>
</footer>