{% extends 'asistencia/principal_asistencia.html' %} 
{% block resultado %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Fecha</th>
      <th scope="col">Nombre</th>
      <th scope="col">Entrada Mañana</th>
      <th scope="col">Salida Mañana</th>
      <th scope="col">Entrada Tarde</th>
      <th scope="col">Salida Tarde</th>
      <th scope="col">Observaciones</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  {% for a in asistencia_list %}
  <tr>
    <th scope="row">{{ a.fecha_actual }}</th>
    <td>{{ a.nombre }}</td>
    <td>{{ a.hora_entrada_M }}</td>
    <td>{{ a.hora_salida_M }}</td>
    <td>{{ a.hora_entrada_T }}</td>
    <td>{{ a.hora_salida_T }}</td>
    <td>{{ a.observaciones }}</td>
    <td><a href='{% url "asistencia:update" pk=a.id %}'>editar</a></td>
  </tr>
  {% empty %}
  <p class="respuesta">No hay elementos disponibles.</p>
  {% endfor %}
</table>
<div>
    <a href="{% url 'asistencia:create' %}" class="btn btn-primary">Nueva</a>
</div>
{% endblock %}
