{% extends "index.html" %}
{% load static %}
{% block contenido %}
    <div class="hero_slider_container">
        <!-- Hero Slide -->
        <div class="hero_slider owl-carousel">
            <!-- Hero Slide -->
            <div class="hero_slide">
                <div class="hero_slide_background"
                     style="background-image:url(../../static/slider_background.jpg)"></div>
                <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
                    <div class="hero_slide_content text-center">
                        <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">
                            <span>Asistencia</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="hero_boxes">
        <div class="hero_boxes_inner">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'libros.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Registrar Asistencia</h2>
                                <a href="{% url 'asistencia:crear_asistencia' %}" class="hero_box_link">ir</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'contacto.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Mis Asistencias</h2>
                                <a href="{% url 'asistencia:listado_propio' %}" class="hero_box_link">ver</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 hero_box_col">
                        <div class="hero_box d-flex flex-row align-items-center justify-content-start">
                            <img src="{% static 'lista.svg' %}" class="svg" alt="">
                            <div class="hero_box_content">
                                <h2 class="hero_box_title">Administrar</h2>
                                <a href="{% url 'asistencia:autorizar' %}" class="hero_box_link">Autorizos</a><br>
                                <a href="{% url 'asistencia:listado_asistencia' %}" class="hero_box_link">Listados</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}